  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 450px;
    height: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 30px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-left:-10px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: blueviolet;
    color: #fff;
    font-weight:bold;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 3px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(157, 67, 241);
  }
  
  .msg{
    color:red;
    font-size: 20px;
  }
  